* { margin: 0; padding: 0; }
html {
	box-sizing: border-box;
	background: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}
svg {
	fill:white;
	background: rgba(0,0,0,0.1);
	padding: 20px;
	border-radius: 50%;
	width:160px;
	margin-bottom: 50px;
}
.container {
	background-color: rgba(#fff, 0.95);
	padding: 20px;
	box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
	margin-bottom: 40px;
	.items {
		list-style: none;
		text-align: left;
		li {
			position: relative;
			height: 20px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding: 10px 0;
		}
		label {
			cursor: pointer;
			position: absolute;
			bottom: 5px;
		}
		input { display: none; }
		span {
			position: absolute;
			bottom: 0;
			margin-right: 10px;
			font-size: 15px;
			font-weight: 400;
			&.item-content { left: 30px; width: 200px; }
		}
		.remove-btn {
			right: 0;
			margin-right: 0;
			font-size: 16px;
			font-weight: 800;
			color: #b30b0b;
			cursor: pointer;
			padding: 5px 10px;
		    border: 1px solid rgba(0,0,0,0.2);
		    border-bottom: none;
		    &:hover { background-color: #dadada; }
		}
	}
}
h2 { font-weight: 200; margin-bottom: 20px; }
input {
	padding: 10px;
	outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
}
form { margin-top: 20px; }
.checked { display: none; }
input[type="checkbox"]:checked + label {
	.unchecked { display: none; }
	.checked {
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}